h1{
    color:blue;
}
*{
   
    background-color:greenyellow;
}
.head{
   display:flex;
   background-color: teal;
   justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content:flex-end;
}
p,h2,li{
    text-align: center;
}